#topPanel {
    width: 100%;
    height: 3rem;
    background-color: black;
}


.neutral-value {
    color: green;
}
.horde-value {
    color: red;
}
.aliance-value {
    color: blue;
}

.craft-plate {
    padding-bottom: 4rem;
    border: 1px solid darkolivegreen; 
}
.craft-plate-price-line {
    padding-bottom: 0.3rem;
}

.craft-place-price-val {
    display: inline-block;
    width: 6rem;
}

.reagents-block {
    padding-bottom: 2rem;
}
.reagent-line {
    border: 1px solid black; 
}
.reagent-line-name {
    display: inline-block;
    min-width: 12rem;
}
.reagent-line-val {
    display: inline-block;
    padding: 0 0.5rem;
    min-width: 6rem;
}